.App {
  text-align: center;
  height: stretch;
  /*background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?cs=srgb&dl=abstract-background-blur-255379.jpg&fm=jpg");*/
  background-color: white;
  font-family: Montserrat;
  background-size: cover;
  background-repeat: no-repeat;
  color: #4d4d4d;
  font-weight: 100;
}

.Tabs {
  text-align: center;
  margin-left: 50%;
}

.Timer {
  display: flex;
}

.Title {
  font-size: 150;
}